<a href="<%= usuario_path(current_user) %>">
  <%= gravatar_for current_user %>
</a>
<h1>
  <%= current_user.nombre %>
</h1>
<span>
  <%= link_to "ver mi perfil", current_user %>
</span>
<span>
  <%= pluralize(current_user.tuits.count, "tuit") %>
</span>