<% provide(:title, "Ingreso") %>
<h1>Inicia Sesion</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:sesion, url: sesiones_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contrasena" %>
      <%= f.password_field :password %>

      <%= f.submit "Ingresa", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Usuario nuevo? <%= link_to "Registrate ahora!", registro_path %></p>
  </div>
</div>