<% provide(:title, "Editar usuario") %> 
<h1>Actualiza tu perfil</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@usuario) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :nombre %>
      <%= f.text_field :nombre %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Contrasena" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmar Contrasena" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Guardar Cambios", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @usuario %>
    <a href="http://gravatar.com/emails">cambiar</a>
  </div>
</div>