<% provide(:title, @usuario.nombre) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @usuario %>
        <%= @usuario.nombre %>
      </h1>
    </section>
	<section>
      <%= render 'shared/estadis' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'seguir_form' if signed_in? %>
    <% if @usuario.tuits.any? %>
      <h3>Tuits (<%= @usuario.tuits.count %>)</h3>
      <ol class="tuits">
        <%= render @tuits %>
      </ol>
      <%= will_paginate @tuits %>
	<% else %>
	  <h3>Aun no ha tuitiado nada :(</h3>
    <% end %>
  </div>
</div>