<footer class="footer">
  <small>{~.~} <a href="http://twitter.com/#!/daswort" target="_blank"> daswort</a></small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros", nosotros_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><a href="http://lun.cl" target="_blank">Noticias</a></li>
    </ul>
  </nav>
</footer>