    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "tuiter", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Inicio", root_path %></li>
              <li><%= link_to "Ayuda", ayuda_path %></li>
			  <% if signed_in? %>
			    <li><%= link_to "Usuarios", usuarios_path %></li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Cuenta <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Perfil", current_user %></li>
                    <li><%= link_to "Configuracion", edit_usuario_path(current_user) %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Cerrar Sesion", salir_path, method: "delete" %></li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Iniciar Sesion", ingreso_path %></li>
			  <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>