<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
        <%= render 'shared/estadis' %>
      </section>
      <section>
        <%= render 'shared/tuit_form' %>
      </section>
    </aside>
	<div class="span8">
      <h3>Tuits</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Tuiter</h1>
    <h2>Esta es la pagina de inicio de tuiter</h2>
    <%= link_to "Registrate ahora!", registro_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>